
// do-not-disturb + clear button
.message-list-controls {
  padding: $base_padding $base_padding $base_padding $base_padding * 5 !important;
  spacing: $base_spacing;
  font-weight: normal;

  .dnd-button {
    font-weight: normal;

    // We need this because the focus outline isn't inset like for the buttons
    // so the dnd button would grow when it gets focus if we didn't change only
    // its color when focusing.
    border-width: 2px;
    border-color: transparent;
    border-radius: 32px;
    border-style: solid;

    &:focus {
      border-color: rgba($primary, 0.5);
    }
  }
}

.message-media-control {
  margin: ($base_padding * 3 + 10px) $base_padding;
  padding: $base_padding * 2;
}

// album-art
.media-message-cover-icon {
  padding: $base_padding * 2;

  &.fallback {
    padding: $base_padding * 2;
  }
}
