//
// Nautilus
//

$nautilus: if($variant == 'light', $base, $fill);
$nautilus-sidebar: if($topbar == 'light', $base, on($titlebar, fill));
$nautilus-item-radius: $window-radius - $space-size;

.nautilus-window {
  &.background.csd {
    background-color: $titlebar;

    &:backdrop {
      background-color: $titlebar-backdrop;
      transition: none;
    }

    headerbar {
      &, &:backdrop {
        box-shadow: none;
        transition: none;
      }
    }

    flap {
      background-color: $titlebar;

      &:backdrop {
        background-color: $titlebar-backdrop;
        transition: none;
      }

      > separator {
        background: none;
        border: none;
      }
    }

    flap.unfolded > placessidebar {
      background: none;
      color: $titlebar-text-secondary;

      > scrolledwindow > viewport {
        margin: 1px $space-size / 2 $space-size $space-size;
        border-radius: $nautilus-item-radius $nautilus-item-radius / 2 $nautilus-item-radius / 2 $nautilus-item-radius;
        background-color: $nautilus-sidebar;
        box-shadow: 0 2px 3px rgba(black, 0.08), inset 0 1px highlight($titlebar);

        > list.navigation-sidebar {
          background: none;
          color: $titlebar-text-secondary;

          > row {
            border-radius: $nautilus-item-radius - $space-size;

            @if $topbar == 'dark' {
              &:selected {
                box-shadow: 0 1px 3px rgba(black, 0.1), inset 0 1px highlight($titlebar);
              }
            }

            &, image.sidebar-icon, label.sidebar-label {
              color: $titlebar-text-secondary;
            }

            &:hover, &:focus, &:active, &:selected {
              &, image.sidebar-icon, label.sidebar-label {
                color: $titlebar-text;
              }
            }
          }

          > separator { background: none; }
        }
      }

      scrollbar {
        background: none;
        border: none;
        margin: 0 $space-size / 2 $space-size 0;

        > range > trough {
          > slider {
            background-color: $titlebar-text-disabled;

            &:hover { background-color: $titlebar-text-disabled; }

            &:active { background-color: $titlebar-text-secondary; }

            &:disabled { background-color: $titlebar-text-secondary-disabled; }
          }
        }
      }
    }
  }

  placesview {
    label { color: $text-secondary; }

    list {
      background-color: transparent;
    }

    actionbar {
      background-color: transparent;

      > revealer > box {
        border-radius: 0 0 $nautilus-item-radius $nautilus-item-radius / 2;
      }
    }
  }

  placesview,
  .nautilus-grid-view.view,
  .nautilus-list-view.view {
    background-color: $nautilus;
    border-radius: $nautilus-item-radius / 2 $nautilus-item-radius $nautilus-item-radius $nautilus-item-radius / 2;
    margin: 1px $space-size $space-size;
    box-shadow: 0 2px 3px rgba(black, 0.08), inset 0 1px highlight($base);
  }

  .nautilus-grid-view {
    gridview.view {
      background-color: transparent;
    }

    child.activatable {
      transition: $transition,
      background-size $ripple-fade-out-duration $ease-out,
      background-image $ripple-fade-out-opacity-duration $ease-out,
      font-weight 0;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      background-image: radial-gradient(circle, transparent 10%, transparent 0%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1000% 1000%;
      outline: none;

      &:hover {
        color: $text;
        background-color: $overlay-normal;
        box-shadow: none;
      }

      &:active {
        transition: $transition,
        background-size 0ms,
        background-image 0ms,
        font-weight 0ms;
        animation: ripple $ripple-fade-in-duration $ease-out forwards;
        background-image: radial-gradient(circle, $overlay-normal 10%, transparent 0%);
        background-size: 0% 0%;
        background-color: $overlay-normal;
        color: $text;
        box-shadow: none;
      }

      &:selected {
        @extend %selected_items_color;

        &:hover {
          color: $primary;
          background-color: rgba($primary, 0.3);
        }
      }
    }
  }

  .nautilus-list-view.view {
    .view {
      background-color: transparent;

      &:selected {
        @extend %selected_items_color;
      }
    }
  }

  tabbox {
    &, &:backdrop {
      transition: none;
      background-color: transparent;
    }

    > tabboxchild {
      > tab {
        color: $titlebar-text-secondary;

        &:hover {
          background-color: $titlebar-fill;
          color: $titlebar-text;
        }

        &:disabled { color: $titlebar-text-secondary-disabled; }

        &:checked, &:selected {
          background-color: if($topbar == 'light', rgba($base, 1), rgba(white, 0.15));
          color: $titlebar-text;
          box-shadow: 0 1px 3px rgba(black, 0.1), inset 0 1px highlight($titlebar);

          &:disabled { color: $titlebar-text-disabled; }
        }

        button.tab-close-button {
          color: $titlebar-text-secondary;

          &:hover, &:active {
            color: $titlebar-text;
          }

          &:disabled {
            color: $titlebar-text-secondary-disabled;
          }
        }
      }
    }
  }

  .floating-bar {
    min-height: 32px;
    padding: 0;
    margin: $space-size;
    border-style: none;
    border-radius: $window-radius - $space-size * 2;
    background-color: $primary;
    color: on($primary);
    box-shadow: $shadow-z3;

    button {
      margin: (32px - $small-size) / 2;
      color: on($primary);

      @extend %small-button;
    }
  }
}

#NautilusPathBar {
  background-color: $titlebar-fill;
  border-radius: $corner-radius;
  margin: $space-size 0;
  padding: 0;

  #NautilusPathButton {
    margin-top: $space-size / 2;
    margin-bottom: $space-size / 2;
    padding: 0 ($medium-size - 16px) / 2;
    border-radius: $corner-radius - $space-size / 2;

    &:hover {
      background-color: if($variant == 'light' and $topbar == 'light', white, rgba(white, 0.15));
      box-shadow: 0 1px 3px rgba(black, 0.06), inset 0 1px highlight($titlebar);
    }

    &:active {
      box-shadow: none;
      background-color: $titlebar-divider;
    }

    &.current-dir {
      color: $titlebar-text;

      &:hover, &:active {
        background: none;
        box-shadow: none;
      }
    }
  }

  > menubutton {
    margin: 0;
  }
}

#NautilusPathButton {
  margin: $space-size / 2;
  border-radius: $corner-radius - $space-size / 2;
}

#NautilusViewCell {
  clamp box {
    margin: 0;
    border-spacing: 0;
  }
}

#NautilusQueryEditorTag {
  border-radius: $circular-radius;

  > button {
   margin: 0;
   padding: 0;
   min-height: 24px;
   min-width: 24px;
  }
}

//
// Calculator
//

.history-view { background-color: $base; }

#displayitem {
  border-top: 1px solid $border;
}

.small .card {
  border-radius: 0;
  box-shadow: none;

  &.forecast-card {
    border-width: 1px 0;
  }

  &.display-container {
    border-width: 0 0 1px 0;
  }
}

leaflet {
  button.number-button {
    background-color: rgba($text, 0.1);

    &:hover {
      background-color: rgba($text, 0.2);
    }

    &:active {
      background-color: rgba($text, 0.3);
    }
  }
}

//
// Calendar
//

datechooser.view {
  button.flat.pill, button.circular.day {
    min-height: 24px;
    min-width: 24px;
    padding: $space-size;
  }
}

//
// Contacts
//

.contacts-contact-list list.navigation-sidebar {
  background: none;
}

//
// Gnome Software
//

flowboxchild > button.card {
  &.category-tile {
    padding: $space-size * 3.5;
    border: none;
    border-radius: $corner-radius;
  }

  &.category-tile-iconless {
    padding: $space-size * 1.5 $space-size * 2.5;
  }
}

app-context-bar {
  > box:not(:first-child) > button.flat {
    border-radius: 0;

    &:last-child {
      border-radius: 0 $corner-radius $corner-radius 0;
    }
  }

  > box:first-child > button.flat {
    border-radius: 0;

    &:first-child {
      border-radius: $corner-radius 0 0 $corner-radius;
    }
  }

  > box > button.flat {
    border-left-color: $border;
  }
}

carousel.card {
  border: none;
}

.context-tile-lozenge {
  min-height: 28px;
  min-width: 28px;
  padding: $space-size;

  &.grey {
    color: $text;
    background-color: $divider;
  }

  &.green, &.details-rating-0 {
    color: darken($success, 15%);
    background-color: rgba($success, 0.15);
  }

  &.blue,
  &.details-rating-5 {
    color: $blue-light;
    background-color: rgba($blue-light, 0.15);
  }

  &.yellow, &.details-rating-12 {
    color: darken($warning, 15%);
    background-color: rgba($warning, 0.15);
  }

  &.details-rating-15 {
    color: $orange-light;
    background-color: rgba($orange-light, .15);
  }

  &.red, &.details-rating-18 {
    color: darken($error, 15%);
    background-color: rgba($error, 0.15);
  }
}

screenshot-carousel box.frame.view {
  border-width: 1px 0;
  border-radius: 0;
}


/* Styling for specific category buttons. */
.category-tile.category-create {
  background: linear-gradient(180deg, #ce8cd7 0%, #2861c6 100%);
  color: white;

  &:hover {
    background: linear-gradient(180deg, shade(#ce8cd7, 1.07) 0%, shade(#2861c6, 1.1) 100%);
  }

  &:active {
    background: linear-gradient(180deg, shade(#ce8cd7, .95) 0%, shade(#2861c6, .95) 100%);
  }
}

.category-tile.category-develop {
  background: #5e5c64;
  color: white;

  &:hover {
    background: shade(#5e5c64, 1.2);
  }

  &:active {
    background-color: shade(#5e5c64, .95);
  }
}

.category-tile.category-learn {
  background: linear-gradient(180deg, #2ec27e 30%, #27a66c 100%);
  color: white;

  &:hover {
    background: linear-gradient(180deg, shade(#2ec27e, 1.06) 30%, shade(#27a66c, 1.06) 100%);
  }

  &:active {
    background: linear-gradient(180deg, shade(#2ec27e, .95) 30%, shade(#27a66c, .95) 100%);
  }
}

.category-tile.category-play {
  background: linear-gradient(75deg, #f9e2a7 0%, #eb5ec3 50%, #6d53e0 100%);
  color: #393484;

  &:hover {
    background: linear-gradient(75deg, shade(#f9e2a7, 1.07) 0%, shade(#eb5ec3, 1.07) 50%, shade(#6d53e0, 1.07) 100%);
  }

  &:active {
    background: linear-gradient(75deg, shade(#f9e2a7, .97) 0%, shade(#eb5ec3, .95) 50%, shade(#6d53e0, 1.07) 100%);
  }
}

.category-tile.category-socialize {
  background: linear-gradient(90deg, #ef4e9b 0%, #f77466 100%);
  color: $text-secondary;

  &:hover {
    background: linear-gradient(90deg, shade(#ef4e9b, 1.08) 0%, shade(#f77466, 1.08) 100%);
  }

  &:active {
    background: linear-gradient(90deg, shade(#ef4e9b, .95) 0%, shade(#f77466, .95) 100%);
  }
}

.category-tile.category-work {
  padding: 1px; /* FIXME: work around https://gitlab.gnome.org/GNOME/gtk/-/issues/4324 */
  color: #1c71d8;
  background-color:#fdf8d7;
  background-image: linear-gradient($border 1px, transparent 1px),
           linear-gradient(90deg, $border 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px;
  background-position: -1px -4px, center -1px;

  &:hover {
    background-color: lighten(#fdf8d7, 5%);
    background-image: linear-gradient($border 1px, transparent 1px),
             linear-gradient(90deg, $border 1px, transparent 1px);
  }

  &:active {
    background-color: darken(#fdf8d7, 5%);
    background-image: linear-gradient($border 1px, transparent 1px),
             linear-gradient(90deg, $border 1px, transparent 1px);
  }
}

screenshot-carousel {
  > stack > .frame.view {
    margin: $space-size $space-size * 2;
  }
}

//
// Leaflets
//

window > contents > leaflet { // Gnome control center
  > box > stack.background {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      transparent,
                                      transparent $large-size,
                                      $background $large-size,
                                      $background);
  }
}

//
// Builder
//

headerbar splitbutton {
  notification button {
    margin: 0;
    min-height: $small-size;
    min-width: $small-size;
    padding: 0;
  }
}

popover.background.global-search {
  > arrow, > contents { padding: 0; }
}

panelframeswitcher {
  padding: $space-size / 2;
}

.frameheader.header {
  min-height: $small-size;
  background-color: $base-alt;

  > button {
    border: none;
    margin: 0;
    padding: $space-size / 2;
  }

  tabbar.inline {
    > revealer > box {
      min-height: $small-size;

      .start-action {
        padding: 0;
        border: none;
      }

      .end-action {
        padding: 0;
        border-left: 1px solid $border;
      }

      tabbox {
        border: none;
        background: none;
      }
    }
  }
}

panelstatusbar {
  > menubutton > button,
  > paneltogglebutton button {
    border-radius: 0;
    @extend %button-flat;
  }
}

// Setting window

.style-variant {
  padding: 0 $space-size * 2;

  button.toggle {
    padding: 0;

    &, &:hover, &:focus, &:active, &:checked {
      background: none;
      outline: none;
      border: none;
      box-shadow: none;
    }

    > stylevariantpreview > .wallpaper {
      border-radius: $corner-radius;
      outline-color: transparent;
      outline-width: 3px;
      outline-offset: $space-size / 2;
      outline-style: solid;
      box-shadow: none;
    }

    &:hover > stylevariantpreview > .wallpaper {
      outline-color: $fill;
    }

    &:active > stylevariantpreview > .wallpaper {
      outline-color: $track;
    }

    &:checked > stylevariantpreview > .wallpaper {
      outline-color: $primary;
    }
  }
}

//
// dialogs
//

window.dialog {
  > .dialog-vbox > box > scrolledwindow > viewport > widget {
    > list.boxed-list {
      border: none;
      border-radius: 0;

      > row {
        &:first-child, &:last-child { border-radius: 0; }
      }
    }
  }
}

window.aboutdialog {
  stack scrolledwindow.frame {
    &,
    & > .view,
    & > .view > text {
      border-radius: $window-radius - $space-size;
    }
  }

  .large-icons {
    -gtk-icon-size: 128px;
  }
}
